	
	/* room form */	
	#room_center {
        padding-top:110px;
        margin:0 auto;
        width:960px; 
    }
    #room_title{
    	background:#6e6464;
    	width:960px; 
    	height:100px;
    	line-height:100px;
    }
    .room_titleB {
		margin-left:50px;
        float:left;
        color:#FFF;
    }
    #wrap {
  		position: relative;
  	}
    #room_left{	
        background:#DDD;
  		position: absolute;
  		list-style: none;  
  		width: 150px;
        line-height:40px;
  		min-height: 100%;
  		font-weight: bold;
    }
    #room_left>ul{
    	padding-top:20px;
    }        
    #room_left>ul>li{ 
    	padding-left:0px; 	
    }
    
    #room_left>ul>li>a{
    	color:#808080;
    	text-decoration: none;
    }
    #room_left>ul>li>a:hover{
    	color:black;
    	text-decoration: underline;
    }
    #room_section{
    	background:#FFF;
  		padding-left: 150px;
  		padding-bottom: 100px;
  		width: 810px;
    }
    
    /* room innerform */
	#roomF{
	width: 740px;
	margin-left:30px;
	padding-top:30px;
	}
	#room_title2{
		font-weight: bold;
		color:#6e6464;
		font-size:2em;
		padding-bottom:20px;
	}
	#largeImg {
		width: 740px;
		border: solid 5px #ccc;
	}
	#largeImg img{
		width:740px;
		height:490px;
	}
	.thumbs {
		margin-top:20px;
	}
	.thumbs a{
		margin-right: 20px;
	}
	.thumbs img {
		border: solid 5px #ccc;
		margin-top:3px;
		margin-bottom:3px;
		width:140px;
		height:80px;
	}
	.thumbs img:hover {
		border-color: #0099FF ;
	}
	.roomS{
		line-height:25px;
		padding:20px;
	}
	.roomB{
		font-weight: bold;
		color:#6e6464;
		font-size:1.2em;
	}